<div ng-controller="AppCtrl" ng-init="init()">
    <h2>Lists of things <i>todo</i></h2>
    <form ng-submit="create()">
        <input type="text" ng-model="name"
            size=30 placeholder="My new todo list" />
        <input class="btn-primary" type="submit" value="add" />
    </form>
    <tabset class="tabs-left">
        <tab ng-repeat="list in tableOfContents">
        <tab-heading ng-click="cp($index)">
             <i class="icon-minus-sign pull-right" ng-click="rm($index)"></i> {{list.name}}
        </tab-heading>
            <p>Owner: {{list.owner.name}}  </p>
            <form ng-submit="addTodo($index)">
                <input type="text" ng-model="$parent.todoDescription"
                    size=30 placeholder="My new todo" />
                <input class="btn-primary" type="submit" value="add" />
                <ol>
                    <li ng-repeat="todo in list.todos">{{todo.description}}</li>
                </ol>
            </form>
    
            <div ui-view></div>
        </tab>
    </tabset>
</div>
